<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <!-- É possível adicionar conteúdo -->
</head>

    <th:block layout:fragment="pagetitle">
        <div th:replace="~{partials/title-meta :: title-meta('Fornecedores')}"></div>
    </th:block>

    <th:block layout:fragment="conteudo">
        
        <div th:replace="~{partials/page-title :: page-title('Fornecedores','Cadastro')}"> </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <div class="d-sm-flex flex-wrap">
                                            <h4 class="card-title mb-4">Fornecedores</h4>
                                            <div class="ms-auto">
                                                <a th:href="@{/fornecedores/novo}" type="button" class="btn btn-primary btn-sm">
                                                    <i class="mdi mdi-plus me-1"></i> Adicionar
                                                </a>
                                            </div>
                                        </div>
                                        
                                        
                                        <table id="datatable" class="table table-bordered table-striped dt-responsive nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th class="coluna-id">Id</th>
                                                    <th>Nome</th>
                                                    <th>Telefone</th>
                                                    <th>E-mail</th>
                                                    <th>Contato</th>
                                                    <th>Situação</th>
                                                    <th class="text-center coluna-acoes">Ações</th>

                                                </tr>
                                            </thead>
        
                                        </table>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

    </th:block>

    <th:block layout:fragment="pageJs">

    <script th:src="@{/pages/fornecedores.js}"></script>

    </th:block>
        

</html>