<th:block th:fragment="footer">
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        2024 - Digithink Tecnologia e Inovação
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Estoque Fácil - v1.0.1
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</th:block>