<th:block th:fragment="head-css">

    <!-- DataTables -->
    <link th:href="@{/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link th:href="@{/assets/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
    
    <!-- Sweet Alert-->
    <link th:href="@{/assets/libs/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
    
    <!-- App Css-->
    <link th:href="@{/assets/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />

    <!-- Custom Estoque Css-->
    <link th:href="@{/app/css/estoque.css}" id="app-style" rel="stylesheet" type="text/css" />

</th:block>