<th:block th:fragment="topbar">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <div th:replace="~{partials/topbar/logo :: topbar-logo}"></div>
                    <div th:replace="~{partials/topbar/button-menu :: topbar-button-menu}"></div>
                    <div th:replace="~{partials/topbar/search :: topbar-search}"></div>
                    <!-- <div th:replace="~{partials/topbar/mega-menu :: topbar-mega-menu}"></div> -->
                </div>
                <div class="d-flex">
                    <div th:replace="~{partials/topbar/search-mobile :: topbar-search-mobile}"></div>
                    <!-- <div th:replace="~{partials/topbar/languages :: topbar-languages}"></div> -->
                    <!-- <div th:replace="~{partials/topbar/tools :: topbar-tools}"></div> -->
                    <div th:replace="~{partials/topbar/fullscreen :: topbar-fullscreen}"></div>
                    <!-- <div th:replace="~{partials/topbar/notifications :: topbar-notifications}"></div> -->
                    <div th:replace="~{partials/topbar/user :: topbar-user}"></div>
                    <div th:replace="~{partials/topbar/settings :: topbar-settings}"></div>
                </div>
            </div>
        </header>
</th:block>