<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
</head>

    <th:block layout:fragment="pagetitle">
        <div th:replace="~{partials/title-meta :: title-meta('Página Inicial')}"></div>
    </th:block>

    <th:block layout:fragment="conteudo">
        <div th:replace= "~{partials/page-title :: page-title('Página Inicial','Home')}"> </div>

        <h4>Acesso negado!</h4>

    </th:block>

</html>