<th:block th:fragment="topbar-languages">
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img id="header-lang-img" src="assets/images/flags/us.jpg" alt="Header Language"
                                height="16">
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">

                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="en">
                                <img th:src="@{/assets/images/flags/us.jpg}" alt="user-image" class="me-1" height="12">
                                <span class="align-middle">English</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sp">
                                <img th:src="@{/assets/images/flags/spain.jpg}" alt="user-image" class="me-1"
                                    height="12"> <span class="align-middle">Spanish</span>
                            </a>

                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="gr">
                                <img th:src="@{/assets/images/flags/germany.jpg}" alt="user-image" class="me-1"
                                    height="12"> <span class="align-middle">German</span>
                            </a>

                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="it">
                                <img th:src="@{/assets/images/flags/italy.jpg}" alt="user-image" class="me-1"
                                    height="12"> <span class="align-middle">Italian</span>
                            </a>

                            <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru">
                                <img th:src="@{/assets/images/flags/russia.jpg}" alt="user-image" class="me-1"
                                    height="12"> <span class="align-middle">Russian</span>
                            </a>
                        </div>
                    </div>
</th:block>