<th:block th:fragment="topbar-logo">
                    <div class="navbar-brand-box">
                        <a th:href="@{/}" class="logo logo-dark">
                            <span class="logo-sm">
                                <img th:src="@{/assets/images/logo.svg}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img th:src="@{/assets/images/logo-dark.png}" alt="" height="17">
                            </span>
                        </a>

                        <a th:href="@{/}" class="logo logo-light">
                            <span class="logo-sm">
                                <img th:src="@{/assets/images/logo-light.svg}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img th:src="@{/assets/images/logo-light.png}" alt="" height="19">
                            </span>
                        </a>
                    </div>
</th:block>