<form id="formulario" th:object="${material}" onkeydown="return event.key !== 'Enter';">
                                        
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{saldo}">

    <div class="row">
    
        <div class="col-md-8 mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" th:field="*{nome}" th:errorclass="is-invalid" class="form-control" id="nome">
            <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>

        <div class="col-md-4">
            <div class="mb-3">
                <label for="catgoria" class="form-label">Categoria</label>
                <select th:field="*{categoria}" id="categoria" th:errorclass="is-invalid" class="form-select">
                    <option th:value="''">Selecione uma opção</option>                    
                    <option th:each= "categoria : ${categoriaList}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>>opção</option> 
                </select>
                <span class="error" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></span>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <label for="codigoBarras" class="form-label">Código de Barras</label>
            <input type="text" th:field="*{codigoBarras}" th:errorclass="is-invalid" class="form-control" id="codigoBarras">
            <span class="error" th:if="${#fields.hasErrors('codigoBarras')}" th:errors="*{codigoBarras}"></span>
        </div>

        <div class="col-md-4 mb-3">
            <label for="fabricante" class="form-label">Fabricante</label>
            <input type="text" th:field="*{fabricante}" th:errorclass="is-invalid" class="form-control" id="fabricante">
            <span class="error" th:if="${#fields.hasErrors('fabricante')}" th:errors="*{fabricante}"></span>
        </div>

        <div class="col-md-4">
            <div class="mb-3">
                <label for="unidadeMedida" class="form-label">Unidade Medida</label>
                <select th:field="*{unidadeMedida}" id="unidadeMedida" th:errorclass="is-invalid" class="form-select">
                    <option th:value="''">Selecione uma opção</option>
                    <option th:each="unidadeMedida : ${unidadeMedidaList}" th:value="${unidadeMedida.descricao}" th:text="${unidadeMedida.descricao}"></option>
                </select>
                <span class="error" th:if="${#fields.hasErrors('unidadeMedida')}" th:errors="*{unidadeMedida}"></span>
            </div>
        </div>

       

        <div class="col-md-8">
            <div class="mb-3">
                <label for="situacao" class="form-label">Fornecedor</label>
                <select th:field="*{fornecedor}" id="fornecedor" th:errorclass="is-invalid" class="form-select">
                    <option th:value="''">Selecione uma opção</option>
                    <option th:each= "fornecedor : ${fornecedorList}"  th:value="${fornecedor.id}" th:text="${fornecedor.nome}">opção</option>
                </select>
                <span class="error" th:if="${#fields.hasErrors('fornecedor')}" th:errors="*{fornecedor}"></span>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="valor" class="form-label">Valor</label>
            <input type="text" th:field="*{valor}" th:errorclass="is-invalid" class="form-control" id="valor">
            <span class="error" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></span>
        </div>

    

        <div class="col-md-6 mb-3">
            <label for="localArmazenagem" class="form-label">Local de Armazenagem</label>
            <input type="text" th:field="*{localArmazenagem}" th:errorclass="is-invalid" class="form-control" id="localArmazenagem">
            <span class="error" th:if="${#fields.hasErrors('localArmazenagem')}" th:errors="*{localArmazenagem}"></span>
        </div>

        <div class="col-md-3 mb-3">
            <label for="estoqueMaximo" class="form-label">Estoque Máximo</label>
            <input type="text" th:field="*{estoqueMaximo}" th:errorclass="is-invalid" class="form-control" id="estoqueMaximo">
            <span class="error" th:if="${#fields.hasErrors('estoqueMaximo')}" th:errors="*{estoqueMaximo}"></span>
        </div>

        <div class="col-md-3 mb-3">
            <label for="estoqueMinimo" class="form-label">Estoque Mínimo</label>
            <input type="text" th:field="*{estoqueMinimo}" th:errorclass="is-invalid" class="form-control" id="estoqueMinimo">
            <span class="error" th:if="${#fields.hasErrors('estoqueMinimo')}" th:errors="*{estoqueMaximo}"></span>
        </div>
       
        <div class="col-md-12">
            <div class="mb-3">
                <label for="situacao" class="form-label">Situação do Material</label>
                <select th:field="*{situacao}" id="situacao" th:errorclass="is-invalid" class="form-select">
                    <option th:value="''">Selecione ...</option>
                    <option th:value="'Ativo'">Ativo</option>
                    <option th:value="'Inativo'">Inativo</option>
                </select>
                <span class="error" th:if="${#fields.hasErrors('situacao')}" th:errors="*{situacao}"></span>
            </div>
        </div>
    
    </div>                            
    
</form>