<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block layout:fragment="pagetitle" />
    <div th:replace="~{partials/head-css :: head-css}" th:remove="tag"></div>
</head>

<body data-sidebar="dark" data-layout-mode="light" th:classappend="${@sessionParameters.menuAberto ? '' : 'sidebar-enable vertical-collpsed'}">

    <div id="layout-wrapper">
        <div th:replace="~{partials/top-header :: topbar}"></div>
        <div th:replace="~{partials/sidebar :: sidebar}"></div>

        <div class="main-content">
            <div class="page-content">

                <div class="container-fluid">
                    <th:block layout:fragment="conteudo" />
                </div>

            </div>
        </div>

        <div th:replace="~{partials/footer :: footer}"></div>

    </div>

    <div th:replace="~{partials/layout-settings :: settings}"></div>

    <div th:replace="~{partials/vendor-scripts :: scripts}"></div>
    <script th:src="@{/assets/js/app.js}"></script>

    <th:block layout:fragment="pageJs"/>

</body>

</html>